<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console-Appender" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>
          %d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
        </pattern>>
      </PatternLayout>
    </Console>
    <File fileName="${log-path}/AzulMain.log" name="File-Appender-AzulMain">
      <PatternLayout>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
        </pattern>
      </PatternLayout>
    </File>
    <File fileName="${log-path}/AzulView.log" name="File-Appender-AzulView">
      <PatternLayout>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
        </pattern>
      </PatternLayout>
    </File>
    <File fileName="${log-path}/GameModel.log" name="File-Appender-GameModel">
      <PatternLayout>
        <pattern>
          %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
        </pattern>
      </PatternLayout>
    </File>
  </Appenders>

  <Loggers>
    <Root additivity="false" level="info">
      <appender-ref ref="fileLogger"/>
    </Root>
  </Loggers>
  <Properties>
    <Property name="log-path">log/${date:yyyy-MM-dd HH-mm-ss-SSS}</Property>
    <Property name="archive">${log-path}/archive</Property>
  </Properties>
</Configuration>
