<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">log/${date:yyyy-MM-dd HH-mm-ss}</Property>
    </Properties>

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n
                </pattern>>
            </PatternLayout>
        </Console>


        <!-- File Appenders -->
        <File name="modelLog"
          fileName="${basePath}/modelLog.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="controllerLog"
          fileName="${basePath}/controllerLog.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="viewLog"
          fileName="${basePath}/viewLog.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>

        <File name="serverLog"
          fileName="${basePath}/serverLog.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>



        <RollingFile name="allApplication"
          fileName="${basePath}/root.log"
          filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="cyberzul.view" additivity="false" level="all">
            <AppenderRef ref="viewLog" />
            <AppenderRef ref="Console-Appender" level="all"/>

        </Logger>
        <Logger name="cyberzul.controller" additivity="false" level="all">
            <AppenderRef ref="controllerLog" />
            <AppenderRef ref="Console-Appender" level="all"/>

        </Logger>
        <Logger name="cyberzul" additivity="false" level="all">
            <AppenderRef ref="modelLog" />
            <AppenderRef ref="Console-Appender" level="all"/>

        </Logger>
        <Logger name="cyberzul.network.server" additivity="false" level="all">
            <AppenderRef ref="serverLog" />
            <AppenderRef ref="Console-Appender" level="all"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="allApplication" />
            <AppenderRef ref="Console-Appender" level="all"/>
        </Root>
    </Loggers>
</Configuration>